// components/card

nav#pagination.pagination
  a.pagination--link__active(href="#") 1
  a.pagination--link(href="#") 2
  a.pagination--link(href="#") 3
  a.pagination--link(href="#") 4
  a.pagination--link(href="#") 5
  a.pagination--link(href="#") Следующая страница &rarr;

// /components/card