
/******************************************
 *         components/product-sort
 =========================================*/

@import '../vars';

@mixin font-icons() {
  margin-right: rem(4);
  line-height: 80%;
  color: inherit;
  font-family: 'icon';
  font-size: 50%;
}

.product-nav {
  position: relative;
  margin-bottom: 1rem;
  overflow: hidden;
  background-color: $bg-color;
  white-space: nowrap;
  color: $font-description-color;
  font-size: 0;
  border: 2px solid $border-color;
}

.product-nav--block {
  padding: rem(12);
  line-height: 1;
  display: inline-block;
  font-size: 1rem;
  border-left: 2px solid $border-color;
  @media only screen and (max-width: 600px) {
    display: block;
    border-left: none;
    border-top: 2px solid $border-color;
    text-align: center;
      &:first-child {
      border-top: none;
    }
  }
  &:first-child {
    border-left: none;
  }
  input {
    margin: 0;
  }
}

.product-nav--block--basket {
  @extend .card-nav--block;
  position: absolute;
  right: 0;
}

.sort-up, .sort-down {
  display: inline-block;
}

.sort-up:before,
.sort-down:before {
  @include font-icons;
  content: "e";
}

.sort-up:before {
  display: inline-block;
  transform: rotate(180deg);
}
