
@import 'bourbon';

$font-title-size: 16;
$font-title-color: #165E8A;

$font-description-size: 12;
$font-description-color: #666;

$font-price-size: 24;

$font-availability-size: 13;

$card-border-color: #CCC;
$color-check: #428000;

$size-circle: rem(40);

$orange: #E88721;

$bg-color: #F8F8F8;
$border-color: #CCC;
$font-description-color: #666;

$bg-color: #F8F8F8;
$border-color: #CCC;
$font-description-color: #666;
$color-blue: #165E8A;
