
/******************************************
 *               variables               */

$blue: #165E8A;

$container-width: 1600;
$container-padding: 40;

$aside-width: 220;
$aside-paddig: 40;

$link-color: $blue;

// темно-серый шрифт: #666666
// серый градиент: #C2C2C2 - #F0F0F0 - #D6D6D6
// оранжевый градиент: #F06721 - #F09A21 - #F06721
// НОВИНКА: 10pt #FFCC00
